
<div class="table-responsive">
    <table class="table table-striped ">
        <thead class="thead-light text-center">
            <tr>
                <th>Name</th>
                <th>Genre</th>
                <th>Realese Date</th>
                <th>
                    <input type="checkbox" class="form-check" @bind="isVisibleButtons" />
                </th>
            </tr>
        </thead>
        <tbody>
          <GenericList ListOfItem="@Games">
              <ItemTemplate Context="game">
                  <IndividualGame Game="game" IsTable="true" IsVisibleButtons="@isVisibleButtons" DeleteGame="@DeledeTheGame"/>
              </ItemTemplate>
          </GenericList>
        </tbody>
    </table>

</div>

@code{
    [Parameter]
    public List<Game> Games { get; set; }

    bool isVisibleButtons { get; set; } = false;

    void DeledeTheGame(Game game)
    {
        Games.Remove(game);
    }
}